body {
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}





/* header */

.header_title-color {
    color: #4bcaff;
}

.header_title {
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    text-align: left;
    margin-top: 65px;
    margin-bottom: 40px;
}

.header_menu {
    margin-bottom: 50px;
}

.header_menu-list {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.header_menu_first-item {
    border-left: 1px solid white;
}

.header_menu-link {
    text-decoration: none;
    color: white;
}

.header_menu-item {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 18px;
    padding-right: 40px;
    padding-left: 40px;
    border-right: 1px solid white;
}

.header_menu-item:hover {
    background-color: #222F3A;
}





/* main */

.main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.main_menu {
    width: 345px;
    height: 400px;
    border: 1px solid black;
}

.main_menu-item {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 45px;
}

.main_menu-item:hover {
    background-color: #DBDBDB;
    color: black;
    padding-left: 75px;
}

.main_menu-link {
    text-decoration: none;
    color: #495863;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
} 

.main_menu-link:hover {
    color: black;
}

.main_content {
    width: 885px;
    height: 830px;
}

.main_content-picture {
    width: 885px;
    height: 530px;
    border: 1px solid black;
    margin-bottom: 37px;
}

.main_content-image {
    margin: 75px 280px;
    transition: 1s;
}

.main_content-image:hover {
    transform: scale(1.2);
}

.main_content-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2C2C2C;
}

.main_content-text1 {
    margin-bottom: 13px;
}





/* footer */

.footer_menu {
    background-color: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}

.footer_menu-list {
    display: flex;
    justify-content: left;
    column-gap: 25px;
}

.footer_menu_first-item {
    padding-left: 40px;
}

.footer_menu-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer_menu-link {
text-decoration: none;
color: black;
font-size: 24px;
font-weight: 400;
line-height: 24px;
}

.footer_menu-link:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    padding-bottom: 5px;
}

.footer_copyright {
    color: black;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
}